/* Général ------------------------------------------------------------------------------------- */
@CHARSET "UTF-8";

body, p, legend, label, input {
font: normal 12pt verdana, helvetica, sans-serif;
}

h1 {
	text-align : center ;
	font-weight: bold;
	color:#3366cc;
}

fieldset {
padding: 10px;
border: 1px #0568CD solid;
}
legend {
font-weight: bold;
color: #0568CD;
}

/* css de Matthias*/
table {
	cellpadding: 10;
	width: 60% ;
    border-collapse: collapse;
}

th {
	color:white;
    height: 50px;
    font-weight:normal;
    background-color:#3366cc ;
}

div {
	text-align:center;
}

td {
	text-align:center;
	height:35px ;
}

body {
	color:black;
	background-color:#d2d2d2;
}

/*MENU*/
#menu { 
	margin-top:15px
}

/* État par défaut */
#menu ul { 
	margin:0; 
	padding:0; 
	list-style:none;
	list-style-type:none;
	text-align:center;
	font-size:.1em; 
	letter-spacing:-2px }
	
#menu li { 
	display:inline-block; 
	position:relative; 
	width:160px;
	height:40px;
	margin:0px;
	padding:0px;
	border-right:5px solid #d2d2d2;
	text-align:center;
	line-height:40px;	
}

#menu li li { 
	display:block
}

#menu a {
	display:block; 
	width:150px; 
	height:40px; 
	font-size:14px; 
	letter-spacing:normal; 
	line-height:40px; 
	color:#fff; 
	background:#3366cc;
	text-decoration:none
}

#menu li ul { 
	left:-4000px; 
	position:absolute
}

/* Survol d'un lien racine */
#menu a:hover, #menu li:hover > a { 
	color: #3366cc; 
	background: #051153 

}
#menu li:hover > ul { 
	left: 0 
}

/* Survol d'un lien de sous-menu */
#menu li li:hover > ul { left: 150px; top: 0 }

#menu #active {
	color: #ffffff; 
	background: #5c3566 
}
 
/* Forms --------------------------------------------------------------------------------------- */
form label {
float: left;
width: 200px;
margin: 3px 0px 0px 0px;
}
form input {
margin: 3px 3px 0px 0px;
border: 1px #999 solid;
}
form input.sansLabel {
margin-left: 200px;
}
form .requis {
color: #c00;
} 
form .erreur {
color: #900;
} 
form .succes {
color: #090;
} 